* { margin: 0; padding: 0; box-sizing: border-box; }
:root { --color-dark: #000; --color-white: #fff; --white-smoke: #f0f0f0; }
body { background: var(--white-smoke); }
.container { width: 794px; background: #fff; margin: 4rem auto; padding: 0 2rem; box-shadow: 0 0 3rem rgba(0, 0, 0, .2); }
.cv { width: 100%; height: 100%; display: flex; gap: 2.5rem; }
/********************** left slide ***************************/
.cv .left-slide { width: 35%; height: 100%; background: #f4f4f4; }
/********************** Presentation desgin ***************************/
.cv .left-slide .presentation { width: 100%; background: var(--color-dark); text-align: center; padding-top: 2rem; border-bottom-left-radius: 125px; border-bottom-right-radius: 125px; }
.cv .left-slide .presentation .name { color: var(--color-white); }
.cv .left-slide .presentation .proffession { color: #fff; font-size: 16px; }
.cv .left-slide .presentation .profil { width: 100%; display: flex; align-items: center; justify-content: center; padding: 10px 0; }
.cv .left-slide .presentation .profil div { width: 220px; height: 215px; border: 7px solid #fff; border-radius: 50%; }
.cv .left-slide .presentation .profil img { width: 100%; height: 100%; border-radius: 50%; }
/********************** Contact desgin ***************************/
.cv .left-slide .contact { width: 100%; text-align: center; margin: 1rem 0; padding: 0 5px; }
.cv .left-slide .title { width: 100%; display: flex; align-items: center; justify-content: center; margin: 1rem 0; }
.cv .left-slide .title .icon { width: 20px; height: 20px; margin-right: 10px; background: #000; border-radius: 50%; display: flex; align-items: center; justify-content: center; }
.cv .left-slide .title .icon svg { width: 75%; height: 75%; fill: #fff; }
.cv .left-slide .contact .items { width: 100%; }
.cv .left-slide .contact .items .item { display: flex; align-items: center; padding-bottom: 5px; gap: 5px;  }
.cv .left-slide .contact .items .item svg { width: 10px; height: 10px; }
/********************** Learnnig desgin ***************************/
.cv .left-slide .learnning { width: 90%; height: 100vh; border: 1px solid; margin: 0 auto; padding: 3rem 1rem; border-top-left-radius: 125px; border-top-right-radius: 125px; color: #fff; background: #000; }
.cv .left-slide .learnning .title .icon { background: #f1f1f1; }
.cv .left-slide .learnning .title .icon svg { fill: #000; }
.cv .left-slide .learnning .items { width: 100%; margin: 1rem 0; }
.cv .left-slide .learnning .items .item { width: 100%; margin: 10px 0; }
.cv .left-slide .learnning .items .item h4 { font-weight: bold; margin-bottom: 6px; }
.cv .left-slide .learnning .items .item div { font-size: 14px; color: whitesmoke; margin-bottom: 3px; } 
/********************** Exprerience and reference desgin ***************************/
.cv .left-slide .learnning :where(.education, .reference) { margin: 2rem 0; }
/********************** Rigth slide ***************************/ 
.cv .right-slide {width: 100%; padding: 1rem 0; }
.cv .right-slide .title { width: 100%; display: flex; align-items: center; justify-content: flex-start; margin: 1rem 0; }
.cv .right-slide .title .icon { width: 20px; height: 20px; margin-right: 10px; background: #000; border-radius: 50%; display: flex; align-items: center; justify-content: center; }
.cv .right-slide .title .icon svg { width: 75%; height: 75%; fill: #fff; }
.cv .right-slide :where(.about, .experience, .skills, .language, .hobbies) { widows: 100%; margin-top: 2.5rem; }
/********************** About desgin ***************************/
.cv .right-slide .about .name { font-size: 1.1rem; font-weight: bold; }
/********************** Experience desgin ***************************/
.cv .right-slide .experience { width: 100%; }
.cv .right-slide .experience .items { width: 100%; }
.cv .right-slide .experience .items .item { width: 100%; margin-bottom: 1rem; }
.cv .right-slide .experience .items .item .domain { width: 100%; display: flex; justify-content: space-between; }
.cv .right-slide .experience .items .item .description { margin-bottom: .5rem; }
/********************** Skills desgin ***************************/
.cv .right-slide .skills { width: 100%; }
.cv .right-slide .skills .items { width: 100%; display: flex; flex-wrap: wrap; gap: 1rem; justify-content: space-between; }
.cv .right-slide .skills .items .item { width: 45%; display: flex; align-items: center; justify-content: space-between; gap: 1.5rem; }
.cv .right-slide .skills .items .item .name { width: 50%; }
.cv .right-slide .skills .items .item .progress { width: 40%; height: 5px; background: #d5d4d4; border-radius: 10px;  }
.cv .right-slide .skills .items .item .bar { width: 100%; height: 100%; background: #000; border-radius: 10px; }
/********************** Skills language percentage desgin ***************************/
.cv .right-slide .skills .items .item .bar.html { width: 90%; }
.cv .right-slide .skills .items .item .bar.css { width: 90%; }
.cv .right-slide .skills .items .item .bar.bootstrap { width: 50%; }
.cv .right-slide .skills .items .item .bar.js { width: 75%; }
.cv .right-slide .skills .items .item .bar.react { width: 20%; }
.cv .right-slide .skills .items .item .bar.nodejs { width: 50%; }
.cv .right-slide .skills .items .item .bar.mysql { width: 35%; }
.cv .right-slide .skills .items .item .bar.sqlite { width: 70%; }
.cv .right-slide .skills .items .item .bar.mongodb { width: 50%; }
.cv .right-slide .skills .items .item .bar.totaljs { width: 60%; }
.cv .right-slide .skills .items .item .bar.python { width: 30%; }
.cv .right-slide .skills .items .item .bar.github { width: 80%; }
/********************** Others(language and hobbies) desgin ***************************/
.cv .right-slide .others { width: 100%; display: flex; gap: 2rem; justify-content: space-around; }
.cv .right-slide .others :where( .language, .hobbies) { width: 50%; }
/********************** Languages desgin ***************************/
/* .cv .right-slide .others .language { width: 100%; } */
.cv .right-slide .others .language .title { margin-left: 1rem; }
.cv .right-slide .others .language .items { display: flex; gap: 1rem; flex-wrap: wrap; justify-content: space-between; margin: 0 1rem; }
.cv .right-slide .others .language .items .item { width: 40%; }
/********************** Hobbies desgin ***************************/
.cv .right-slide .others .hobbies .items { width: 100%; }
.cv .right-slide .others .hobbies .items .item { width: 100%; margin: .5rem; }
/********************** Download desgin ***************************/
.download { width: 100%; text-align: center;  margin: 3rem 0;}
.download .btn { outline: none; padding: .5rem; border-radius: 5px; cursor: pointer; box-shadow: 0 0 2rem rgba(0, 0, 0, .3); transition: all .5s ease-in-out; }
.download .btn:hover { transform: scale(1.1); box-shadow: none; background: #fff;}

/********************** Responsive desgin ***************************/
@media screen and (max-width: 991px) {
    .container { width: 95%; padding: 0 10px;}
}

@media screen and (max-width: 768px) {

    .cv { flex-direction: column; }
    .cv .left-slide,.cv .right-slide { width: 100%; }
    .cv .left-slide .presentation { width: 70%; margin: 0 auto; }
    .cv .left-slide .contact { width: fit-content; margin: 1rem auto; }
    .cv .left-slide .learnning { width: 80%; text-align: center; }
}